@charset "UTF-8";
@import url("fonts.css");
:root {
  --background-color: #fff;
  --text-color: #121416d8;
  --link-color: #543fd7;
  --font-face: "Lato", "Roboto", sans-serif;
  --font-style-italic: "italic";
  --font-style-normal: "normal";
}

html[data-theme=light] {
  --background-color: #fff;
  --text-color: #121416d8;
  --link-color: #543fd7;
  --border-shadow: 0 3px 0 0 rgba(227, 228, 229, 0.7);
  --background-header: rgba(255, 255, 255, 1);
  --background-color-content: rgba(246, 247, 248, 1);
  --background-color-sidebar: rgba(42, 54, 71, 1);
  --background-color-sidebar-hover: rgba(98, 110, 149, 1);
  --text-color-sidebar: rgba(200, 204, 209, 1);
  --background-color-login: rgba(255, 255, 255, 1);
  --background-color-login-content: rgba(246, 247, 248, 1);
  --border-inputfeld-login: rgba(227, 228, 229, 0.7);
  --border-input-focus: rgba(21, 29, 254, 1);
  --submit-login-button: rgba(42, 54, 71, 1);
  --submit-login-button-text: rgba(255, 255, 255, 1);
  --submit-login-guest-button-text: rgba(18, 20, 22, 0.85);
  --mouseover-button: rgba(0, 255, 255, 1);
  --mouseover-button-text: rgba(18, 20, 22, 0.85);
  --login-link-color: rgba(176, 178, 179, 1);
}

html[data-theme=dark] {
  --background-color: #212a2e;
  --text-color: rgba(247, 248, 248, 1);
  --link-color: #828fff;
  --border-shadow: 0 3px 0 0 rgba(190, 190, 190, 0.7);
  --background-header: rgba(63, 77, 84, 1);
  --background-color-content: rgba(55, 68, 74, 1);
  --background-color-sidebar: rgba(46, 56, 61, 1);
  --background-color-sidebar-hover: rgba(59, 69, 74, 1);
  --text-color-sidebar: rgba(200, 204, 209, 1);
  --background-color-login: rgba(63, 77, 84, 1);
  --background-color-login-content: rgba(55, 68, 74, 1);
  --border-inputfeld-login: rgba(190, 190, 190, 0.7);
  --border-input-focus: rgba(56, 62, 219, 1);
  --submit-login-button: rgba(42, 54, 71, 1);
  --submit-login-button-text: rgba(247, 248, 248, 1);
  --submit-login-guest-button-text: rgba(247, 248, 248, 1);
  --mouseover-button: rgba(0, 255, 255, 1);
  --mouseover-button-text: rgba(18, 20, 22, 0.85);
  --login-link-color: rgba(221, 222, 223, 1);
}

* {
  font-family: var(--font-face);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

html {
  height: 100%;
  scrollbar-color: snow lightslategray;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  overflow-y: hidden;
}

a {
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
  filter: brightness(80%);
}

#theme_switcher:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-face), serif;
  font-style: var(--font-style-normal);
  font-weight: 700;
}

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  background-color: var(--background-header);
  flex-basis: 50px;
  box-shadow: var(--border-shadow);
}

.headerName {
  flex-basis: 270px;
  padding: 10px;
  flex-grow: 5;
  flex-shrink: 5;
}

.headerRight {
  flex-direction: row;
  display: flex;
  flex-basis: 50px;
  justify-content: flex-end;
  flex-grow: 2;
  flex-shrink: 2;
  padding: 10px;
  font-size: 1.2em;
  margin-right: 35px;
}

#siteName {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.2em;
}

.headerRight ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin-right: 10px;
}

.headerRight svg {
  width: 25px;
  height: 25px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.sidebar-left {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-sidebar);
  position: fixed;
  top: -50px;
  width: 232px;
  bottom: 0;
}

.logo-sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}

.sidebar-menu {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 232px;
}

.sidebar-menu li {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.sidebar-menu li a {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 40px;
  padding: 3px;
  text-decoration: none;
  width: 42%;
  justify-content: space-between;
  color: var(--text-color-sidebar);
}

.sidebar-menu li span {
  display: flex;
  justify-content: left;
  width: 65px;
}

.sidebar-menu li:hover {
  background-color: var(--background-color-sidebar-hover);
}

.sidebar-menu li img {
  height: 20px;
  width: 20px;
}

.sidebar-menu ul {
  height: 120px;
  display: flex;
  flex-direction: column;
  width: 232px;
}

.logo-sidebar img {
  width: 100px;
  height: 121px;
}

.sidebar-footer {
  height: 400px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-self: center;
}

.sidebar-footer ul {
  list-style: none;
}

.sidebar-footer li {
  height: 40px;
  padding: 3px;
}

.sidebar-footer a {
  color: var(--text-color-sidebar);
  text-decoration: none;
  filter: brightness(70%);
}

.content {
  background-color: var(--background-color-content);
  flex: 4;
  height: 100em;
}

.footer {
  flex-basis: 50px;
}

/* Tooltip CSS */
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  transition: 0.6s ease-in-out 0.4s;
}

[data-tooltip]:before {
  content: "";
  height: 0;
  width: 0;
  top: calc(100% - 9px);
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent #333 transparent;
}

[data-tooltip]:after {
  content: attr(data-tooltip);
  white-space: nowrap;
  background: #333;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 0.9rem;
  box-sizing: border-box;
  top: calc(100% + 11px);
  color: #fff;
  border-radius: 2px;
  text-shadow: 0px 1px 1px #000;
  z-index: 9;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  opacity: 1;
  visibility: visible;
  transition: 0.4s ease-in-out 0.3s;
}

.d-none {
  display: none;
}

.spinner-content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #212529 !important;
  opacity: 1;
  z-index: 9999;
  visibility: hidden;
}

.spinner-content.active {
  visibility: visible;
}

.loading-text {
  margin: 30px;
  font-family: "Lato-Bold-Italic";
  font-size: 20px;
  text-transform: capitalize;
}

.login-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
}

.singup-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
}

/* Sing Up */
.singup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.singup-formular {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color-login);
}

.singup-content {
  background: var(--background-color-login-content);
}

/* Login */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-formular {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color-login);
}

.login-content {
  background: var(--background-color-login-content);
}

.login-header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  flex: 1;
}

.sign-up button {
  width: 91px;
  height: 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--submit-login-button);
  color: var(--submit-login-button-text);
}

.focus-sign-up button {
  background-color: var(--mouseover-button);
  color: var(--mouseover-button-text);
  width: 91px;
  height: 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.login-body {
  display: flex;
  flex-direction: column;
  flex: 3;
  width: 100%;
  align-items: center;
  gap: 20px;
}

.login-body input {
  display: flex;
  gap: 8px;
  width: 97%;
  height: 48px;
  justify-content: center;
  align-items: center;
  background: var(--background-color-login);
  color: var(--text-color);
  padding-left: 20px;
  border: none;
}

.input-name, .input-mail, .input-pwd, .input-pwd-confirm {
  width: 422px;
  background: var(--background-color-login);
  border: solid 1px var(--border-inputfeld-login);
  border-radius: 10px;
}

#name {
  background: url(/icons/person.svg) right no-repeat;
  padding-right: 30px;
  cursor: pointer;
}

#mail {
  background: url(/icons/mail.svg) right no-repeat;
  padding-right: 30px;
  cursor: pointer;
}

#pwd {
  background: url("/icons/lock.svg") right no-repeat;
  padding-right: 30px;
  cursor: pointer;
}

#pwd:focus {
  background: url("/icons/visibility.svg") right no-repeat;
  cursor: pointer;
}

#pwd.hidden {
  background: url("/icons/visibility_off.svg") right no-repeat;
  cursor: pointer;
}

#pwdConfirm {
  background: url("/icons/lock.svg") right no-repeat;
  padding-right: 30px;
  cursor: pointer;
}

#pwdConfirm:focus {
  background: url("/icons/visibility.svg") right no-repeat;
  cursor: pointer;
}

#pwdConfirm.hidden {
  background: url("/icons/visibility_off.svg") right no-repeat;
  cursor: pointer;
}

.button-set {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 50px;
  flex: 3;
}

.button-set button {
  width: 110px;
  height: 48px;
  padding: 15px 24px 15px 24px;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: bold;
}

.submit-login button {
  background-color: var(--submit-login-button);
  color: var(--submit-login-button-text);
  border-radius: 8px;
}

.focus-login button {
  background-color: var(--mouseover-button);
  color: var(--mouseover-button-text);
  width: 110px;
  height: 48px;
  padding: 15px 24px 15px 24px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
}

.submit-guest button {
  width: 177px;
  border: solid 1px black;
  border-radius: 8px;
  color: var(--submit-login-guest-button-text);
}

.focus-guest button {
  width: 177px;
  border: solid 1px var(--mouseover-button);
  border-radius: 8px;
  color: var(--mouseover-button);
}

.login-footer {
  display: flex;
  gap: 35px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.login-footer a {
  text-decoration: none;
  color: var(--login-link-color);
}

/* Definiere den Startzustand */
.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 2s ease-in-out;
}

/* Zustand nach der Animation */
.logo-container.moved {
  top: 10px;
  left: 10px;
  transform: translate(0, 0);
}

/* Größe und Stil des Logos */
#logo {
  width: 150px;
  height: 150px;
  transition: all 2s ease-in-out;
}

/* Größe des Logos in der oberen Ecke */
.logo-container.moved #logo {
  width: 32.5px;
  height: 32.5px;
}

/* Toast */
#toast {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: #950B02;
  color: #fff;
  padding: 16px;
  border-radius: 4px;
  text-align: center;
  z-index: 1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
}

#toast.show {
  visibility: visible;
  animation: fadeInOut 3s;
}

@keyframes fadeInOut {
  5%, 95% {
    opacity: 1;
    top: 50px;
  }
  15%, 85% {
    opacity: 1;
    top: 30px;
  }
}
/*
#toast {
  visibility: hidden;
  max-width: 64px;
  height: 64px;
  margin: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;

  position: fixed;
  z-index: 1;
  left: 0;right:0;
  bottom: 30px;
  font-size: 17px;
  white-space: nowrap;
}
#toast #img {
  width: 64px;
  height: 64px;

  float: left;

  padding: 5px 2px 5px 2px;

  box-sizing: border-box;


  background-color: #111;
  color: #fff;
}
#toast #desc {
  color: #fff;

  padding: 16px;

  overflow: hidden;
  white-space: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
  from {min-width: 50px}
  to {min-width: 350px}
}

@keyframes expand {
  from {min-width: 50px}
  to {min-width: 350px}
}
@-webkit-keyframes stay {
  from {min-width: 350px}
  to {min-width: 350px}
}

@keyframes stay {
  from {min-width: 350px}
  to {min-width: 350px}
}
@-webkit-keyframes shrink {
  from {min-width: 350px;}
  to {min-width: 50px;}
}

@keyframes shrink {
  from {min-width: 350px;}
  to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 60px; opacity: 0;}
}
*/
.checkbox-police a {
  color: var(--text-color-sidebar);
  text-decoration: none;
  filter: brightness(70%);
}

/* Verstecke die ursprüngliche Checkbox */
.custom-checkbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Gestalte die Hülle der Checkbox */
.custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 21px;
  user-select: none;
}

/* Gestalte das äußere Feld der Checkbox */
.custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  width: 21px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Ändere die Hintergrundfarbe, wenn die Checkbox gecheckt ist */
.custom-checkbox input:checked + .checkmark {
  background-color: #2196F3;
  border: 2px solid #2196F3;
}

/* Erstelle das Häkchen */
.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Zeige das Häkchen an und lass es weiter aus der Checkbox herausragen */
.custom-checkbox input:checked + .checkmark:after {
  display: block;
  /* Passe das Häkchen an, damit es weiter raussteht */
  left: 6px; /* Verschiebe es nach links */
  top: -10px; /* Verschiebe es weiter nach oben */
  width: 7px; /* Vergrößere die Breite */
  height: 22px; /* Vergrößere die Höhe */
  border: solid dimgrey;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
  transform-origin: 50% 50%;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header {
    display: flex;
    height: 70px;
    max-width: 1980px;
    min-width: 1200px;
  }
  #question img {
    width: 17px;
    height: 17px;
  }
  .loader {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
  }
  .loader:before,
  .loader:after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
  }
  .loader:before {
    animation: ball1 1s infinite;
    background-color: #cb2025;
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
  .loader:after {
    animation: ball2 1s infinite;
    background-color: #00a096;
    box-shadow: 30px 0 0 #97bf0d;
  }
  @keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg) scale(0.8);
      -moz-transform: rotate(0deg) scale(0.8);
    }
    50% {
      -webkit-transform: rotate(360deg) scale(1.2);
      -moz-transform: rotate(360deg) scale(1.2);
    }
    100% {
      -webkit-transform: rotate(720deg) scale(0.8);
      -moz-transform: rotate(720deg) scale(0.8);
    }
  }
  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #f8b334;
    }
    50% {
      box-shadow: 0 0 0 #f8b334;
      margin-bottom: 0;
      -webkit-transform: translate(15px, 15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #f8b334;
      margin-bottom: 10px;
    }
  }
  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #97bf0d;
    }
    50% {
      box-shadow: 0 0 0 #97bf0d;
      margin-top: -20px;
      -webkit-transform: translate(15px, 15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #97bf0d;
      margin-top: 0;
    }
  }
  /* Sing Up */
  .singup-content {
    width: 100%;
    height: 100em;
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .singup {
    width: 100%;
    height: 50%;
  }
  .singup-formular {
    width: 652px;
    height: 600px;
    border-radius: 30px;
    padding: 48px 115px 48px 115px;
    gap: 32px;
  }
  /* Login */
  .login-content {
    width: 100%;
    height: 100em;
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .login {
    width: 100%;
    height: 50%;
  }
  .login-formular {
    width: 652px;
    height: 493px;
    border-radius: 30px;
    padding: 48px 115px 48px 115px;
    gap: 32px;
  }
}
/* Extra 4K devices landscape */
/* Extra 4K devices portrait  */

/*# sourceMappingURL=style.css.map */
