@import url('fonts.css');

:root {

  --background-color: #fff;
  --text-color: #121416d8;
  --link-color: #543fd7;
  --font-face: "Lato", "Roboto", sans-serif;
  --font-style-italic: "italic";
  --font-style-normal: "normal";
}

html[data-theme='light'] {
  --background-color: #fff;
  --text-color: #121416d8;
  --link-color: #543fd7;
  --border-shadow: 0 3px 0 0 rgba(227, 228, 229, 0.7);
  --background-header: rgba(255, 255, 255, 1);
  --background-color-content: rgba(246, 247, 248, 1);
  --background-color-sidebar: rgba(42, 54, 71, 1);
  --background-color-sidebar-hover: rgba(98, 110, 149, 1);
  --text-color-sidebar: rgba(200, 204, 209, 1);
  --background-color-login: rgba(255, 255, 255, 1);
  --background-color-login-content: rgba(246, 247, 248, 1);
  --border-inputfeld-login: rgba(227, 228, 229, 0.7);
  --border-input-focus: rgba(21, 29, 254, 1);
  --submit-login-button: rgba(42, 54, 71, 1);
}

html[data-theme='dark'] {
  --background-color: #212a2e;
  --text-color: #F7F8F8;
  --link-color: #828fff;
  --border-shadow: 0 3px 0 0 rgba(190, 190, 190, 0.7);
  --background-header: rgba(63, 77, 84, 1);
  --background-color-content: rgba(55, 68, 74, 1);
  --background-color-sidebar: rgba(46, 56, 61, 1);
  --background-color-sidebar-hover: rgba(59, 69, 74, 1);
  --text-color-sidebar: rgba(200, 204, 209, 1);
  --background-color-login: rgba(63, 77, 84, 1);
  --background-color-login-content: rgba(55, 68, 74, 1);
  --border-inputfeld-login: rgba(190, 190, 190, 0.7);
  --border-input-focus: rgba(56, 62, 219, 1);
  --submit-login-button: rgba(42, 54, 71, 1);
}

* {
  font-family: var(--font-face);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

html {
  height: 100%;
  scrollbar-color: snow lightslategray;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  overflow-y: hidden;
}

a {
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
  filter: brightness(80%);
}

#theme_switcher:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-face), serif;
  font-style: var(--font-style-normal);
  font-weight: 700;
}

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  background-color: var(--background-header);
  flex-basis: 50px;
  box-shadow: var(--border-shadow);
}

.headerName {
  flex-basis: 270px;
  padding: 10px;
  flex-grow: 5;
  flex-shrink: 5;
}

.headerRight {
  flex-direction: row;
  display: flex;
  flex-basis: 50px;
  justify-content: flex-end;
  flex-grow: 2;
  flex-shrink: 2;
  padding: 10px;
  font-size: 1.2em;
}

#siteName {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.2em;
}

.headerRight ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin-right: 10px;
}

.headerRight svg {
  width: 25px;
  height: 25px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.sidebar-left {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-sidebar);
  position: fixed;
  top: -50px;
  width: 232px;
  bottom: 0;
}


.logo-sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}

.sidebar-menu {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 232px;
}

.sidebar-menu li {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}


.sidebar-menu li a {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 40px;
  padding: 3px;
  text-decoration: none;
  width: 42%;
  justify-content: space-between;
  color: var(--text-color-sidebar);
}

.sidebar-menu li span {
  display: flex;
  justify-content: left;
  width: 65px;
}

.sidebar-menu li:hover {
  background-color: var(--background-color-sidebar-hover);
}


.sidebar-menu li img {
  height: 20px;
  width: 20px;
}

.sidebar-menu ul {
  height: 120px;
  display: flex;
  flex-direction: column;
  width: 232px;
}

.logo-sidebar img {
  width: 100px;
  height: 121px;
}

.sidebar-footer {
  height: 400px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-self: center;
}

.sidebar-footer ul {
  list-style: none;
}

.sidebar-footer li {
  height: 40px;
  padding: 3px;
}

.sidebar-footer a {
  color: var(--text-color-sidebar);
  text-decoration: none;
  filter: brightness(70%);
}

.content {
  background-color: var(--background-color-content);
  flex: 4;
  height: 100em;
}

.footer {
  flex-basis: 50px;
}

/* Tooltip CSS */

[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  transition: 0.6s ease-in-out 0.4s;
}

[data-tooltip]:before {
  content: "";
  height: 0;
  width: 0;
  top: calc(100% - 9px);
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent #333 transparent;
}

[data-tooltip]:after {
  content: attr(data-tooltip);
  white-space: nowrap;
  background: #333;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 0.9rem;
  box-sizing: border-box;
  top: calc(100% + 11px);
  color: #fff;
  border-radius: 2px;
  text-shadow: 0px 1px 1px #000;
  z-index: 9;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  opacity: 1;
  visibility: visible;
  transition: 0.4s ease-in-out 0.3s;
}

.d-none {
  display: none;
}

.spinner-content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #212529 !important;
  opacity: 1;
  z-index: 9999;
  visibility: hidden;
}

.spinner-content.active {
  visibility: visible;
}

.loading-text {
  margin: 30px;
  font-family: "Lato-Bold-Italic";
  font-size: 20px;
  text-transform: capitalize;
}

.login-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
}

/* Login */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-formular {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color-login);
}

.login-content {
  background: var(--background-color-login-content);
}

.login-header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  flex: 1;
}

.login-body {
  display: flex;
  flex-direction: column;
  flex: 3;
  width: 100%;
  align-items: center;
  gap: 20px;
}

.login-body input {
  display: flex;
  gap: 8px;
  width: 97%;
  height: 48px;
  justify-content: center;
  align-items: center;
  background: var(--background-color-login);;
  color: var(--text-color);
  padding-left: 20px;
  border: none;
}



.input-mail, .input-pwd {
  width: 422px;
  background: var(--background-color-login);
  border: solid 1px var(--border-inputfeld-login);
  border-radius: 10px;
}

#mail {
  background: url(/icons/mail.svg) right no-repeat;
}

#pwd {
  background: url("/icons/lock.svg") right no-repeat;
}

.button-set {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 50px;
  flex: 3;
}

.button-set button {
  width: 110px;
  height: 48px;
  padding: 15px 24px 15px 24px;
  border: none;
  background: none;
}

.submit-login button {
 background-color: var(--submit-login-button);
  color: var(--text-color);
}

.submit-guest button{
  width: 177px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .header {
    display: flex;
    height: 70px;
    max-width: 1980px;
    min-width: 1200px;
  }

  #question img {
    width: 17px;
    height: 17px;
  }

  // Spinner

  .loader {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
  }

  .loader:before,
  .loader:after {
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;
    width: 20px;
  }
  .loader:before {
    animation: ball1 1s infinite;
    background-color: #cb2025;
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
  .loader:after {
    animation: ball2 1s infinite;
    background-color: #00a096;
    box-shadow: 30px 0 0 #97bf0d;
  }

  @keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg) scale(0.8);
      -moz-transform: rotate(0deg) scale(0.8);
    }
    50% {
      -webkit-transform: rotate(360deg) scale(1.2);
      -moz-transform: rotate(360deg) scale(1.2);
    }
    100% {
      -webkit-transform: rotate(720deg) scale(0.8);
      -moz-transform: rotate(720deg) scale(0.8);
    }
  }

  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #f8b334;
    }
    50% {
      box-shadow: 0 0 0 #f8b334;
      margin-bottom: 0;
      -webkit-transform: translate(15px, 15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #f8b334;
      margin-bottom: 10px;
    }
  }

  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #97bf0d;
    }
    50% {
      box-shadow: 0 0 0 #97bf0d;
      margin-top: -20px;
      -webkit-transform: translate(15px, 15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #97bf0d;
      margin-top: 0;
    }
  }

  /* Login */

  .login-content {
    width: 100%;
    height: 100em;
    display: flex;
    flex: 1;
    flex-direction: column;
  }


  .login {
    width: 100%;
    height: 50%;
  }

  .login-formular {
    width: 652px;
    height: 493px;
    border-radius: 30px;
    padding: 48px 115px 48px 115px;
    gap: 32px;
  }


}

/* Extra 4K devices landscape */
@media only screen and (min-width: 3840px) and (orientation: landscape) {


}

/* Extra 4K devices portrait  */
@media only screen and (min-height: 2160px) and (orientation: portrait) {


}
