@charset "UTF-8";
@import url("fonts.css");
@import url("variablen.css");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-face);
}

*:focus {
  outline: none;
}

html {
  scrollbar-color: snow lightslategray;
}

body {
  background: var(--background-color);
  background-color: var(--background-color-content);
  color: var(--text-color);
  overflow-x: hidden;
}

a {
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
  filter: brightness(80%);
}

#theme_switcher:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-face), serif;
  font-style: var(--font-style-normal);
  font-weight: 700;
}

label {
  margin-bottom: 5px;
}

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* Standard-Platzhalterfarbe für die meisten Browser */
input::placeholder {
  color: var(--text-color);
  opacity: 1;
}

textarea::placeholder {
  color: var(--text-color);
  opacity: 1;
}

.header {
  background-color: var(--background-header);
  flex-basis: 50px;
  box-shadow: var(--border-shadow);
}

.headerName {
  flex-basis: 270px;
  padding: 10px;
  flex-grow: 5;
  flex-shrink: 5;
}

.headerRight {
  flex-direction: row;
  display: flex;
  flex-basis: 50px;
  justify-content: flex-end;
  flex-grow: 2;
  flex-shrink: 2;
  padding: 10px;
  font-size: 1.2em;
  margin-right: 35px;
}

#siteName {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.2em;
}

.headerRight ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin-right: 10px;
}

.headerRight svg {
  width: 25px;
  height: 25px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.sidebar-inc {
  height: 100vh;
}

.sidebar-left {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-sidebar);
  position: fixed;
  top: -50px;
  width: 232px;
  bottom: 0;
}

.logo-sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}

.sidebar-menu {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 232px;
  flex: 2;
}

.sidebar-menu li {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.sidebar-menu li a {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 40px;
  padding: 3px;
  text-decoration: none;
  width: 42%;
  justify-content: space-between;
  color: var(--text-color-sidebar);
}

.sidebar-menu li span {
  display: flex;
  justify-content: left;
  width: 65px;
}

.sidebar-menu li:hover {
  background-color: var(--background-color-sidebar-hover);
}

.sidebar-menu li img {
  height: 20px;
  width: 20px;
}

.sidebar-menu ul {
  height: 120px;
  display: flex;
  flex-direction: column;
  width: 232px;
}

.logo-sidebar img {
  width: 100px;
  height: 121px;
}

.sidebar-footer {
  height: 400px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-self: center;
  flex: 1;
}

.sidebar-footer ul {
  list-style: none;
}

.sidebar-footer li {
  height: 40px;
  padding: 3px;
}

.sidebar-footer a {
  color: var(--text-color-sidebar);
  text-decoration: none;
  filter: brightness(70%);
}

.footer {
  flex-basis: 50px;
}

/* Tooltip CSS */
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  transition: 0.6s ease-in-out 0.4s;
}

[data-tooltip]:before {
  content: "";
  height: 0;
  width: 0;
  top: calc(100% - 9px);
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent #333 transparent;
}

[data-tooltip]:after {
  content: attr(data-tooltip);
  white-space: nowrap;
  background: #333;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 0.9rem;
  box-sizing: border-box;
  top: calc(100% + 11px);
  color: #fff;
  border-radius: 2px;
  text-shadow: 0px 1px 1px #000;
  z-index: 9;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  opacity: 1;
  visibility: visible;
  transition: 0.4s ease-in-out 0.3s;
}

.d-none {
  display: none;
}

.spinner-content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #212529 !important;
  opacity: 1;
  z-index: 9999;
  visibility: hidden;
}

.spinner-content.active {
  visibility: visible;
}

.loading-text {
  margin: 30px;
  font-family: "Lato-Bold-Italic";
  font-size: 20px;
  text-transform: capitalize;
}

.login-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
}

.singup-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
}

/* Sing Up */
.singup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.singup-formular {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color-login);
}

.singup-content {
  background: var(--background-color-login-content);
}

/* Login */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-formular {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color-login);
}

.login-content {
  background: var(--background-color-login-content);
}

.login-header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  flex: 1;
}

.auto-login span {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up button {
  width: 91px;
  height: 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--submit-login-button);
  color: var(--submit-login-button-text);
}

.focus-sign-up button {
  background-color: var(--mouseover-button);
  color: var(--mouseover-button-text);
  width: 91px;
  height: 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.login-body {
  display: flex;
  flex-direction: column;
  flex: 3;
  width: 100%;
  align-items: center;
  gap: 20px;
}

.login-body input {
  display: flex;
  gap: 8px;
  width: 97%;
  height: 48px;
  justify-content: center;
  align-items: center;
  background: var(--background-color-login);
  color: var(--text-color);
  padding-left: 20px;
  border: none;
}

.input-name, .input-mail, .input-pwd, .input-pwd-confirm {
  width: 422px;
  background: var(--background-color-login);
  border: solid 1px var(--border-inputfeld-login);
  border-radius: 10px;
}

#name {
  background: url(/icons/person.svg) right no-repeat;
  padding-right: 30px;
  cursor: pointer;
}

#mail {
  background: url(/icons/mail.svg) right no-repeat;
  padding-right: 30px;
  cursor: pointer;
}

#pwd {
  background: url("/icons/lock.svg") right no-repeat;
  padding-right: 30px;
  cursor: pointer;
}

#pwd:focus {
  background: url("/icons/visibility.svg") right no-repeat;
  cursor: pointer;
}

#pwd.hidden {
  background: url("/icons/visibility_off.svg") right no-repeat;
  cursor: pointer;
}

#pwdConfirm {
  background: url("/icons/lock.svg") right no-repeat;
  padding-right: 30px;
  cursor: pointer;
}

#pwdConfirm:focus {
  background: url("/icons/visibility.svg") right no-repeat;
  cursor: pointer;
}

#pwdConfirm.hidden {
  background: url("/icons/visibility_off.svg") right no-repeat;
  cursor: pointer;
}

.button-set {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 50px;
  flex: 3;
}

.button-set button {
  width: 110px;
  height: 48px;
  padding: 15px 24px 15px 24px;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: bold;
}

.submit-login button {
  background-color: var(--submit-login-button);
  color: var(--submit-login-button-text);
  border-radius: 8px;
}

.focus-submit-login button {
  background-color: var(--mouseover-button);
  color: var(--mouseover-button-text);
  width: 110px;
  height: 48px;
  padding: 15px 24px 15px 24px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
}

.focus-login button {
  background-color: var(--mouseover-button);
  color: var(--mouseover-button-text);
  width: 110px;
  height: 48px;
  padding: 15px 24px 15px 24px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
}

.submit-guest button {
  width: 177px;
  border: solid 1px black;
  border-radius: 8px;
  color: var(--submit-login-guest-button-text);
}

.focus-guest button {
  width: 177px;
  border: solid 1px var(--mouseover-button);
  border-radius: 8px;
  color: var(--mouseover-button);
}

.login-footer {
  display: flex;
  gap: 35px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.login-footer a {
  text-decoration: none;
  color: var(--login-link-color);
}

/* Definiere den Startzustand */
.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 2s ease-in-out;
}

/* Zustand nach der Animation */
.logo-container.moved {
  top: 10px;
  left: 10px;
  transform: translate(0, 0);
}

/* Größe und Stil des Logos */
#logo {
  width: 150px;
  height: 150px;
  transition: all 2s ease-in-out;
}

/* Größe des Logos in der oberen Ecke */
.logo-container.moved #logo {
  width: 32.5px;
  height: 32.5px;
}

/* Toast */
#toast {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #950B02;
  color: #fff;
  padding: 16px 24px;
  border-radius: 4px;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

#toast.show {
  visibility: visible;
  opacity: 1;
}

.checkbox-police a {
  color: var(--text-color-sidebar);
  text-decoration: none;
  filter: brightness(70%);
}

/* Verstecke die ursprüngliche Checkbox */
.custom-checkbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Gestalte die Hülle der Checkbox */
.custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 21px;
  user-select: none;
}

/* Gestalte das äußere Feld der Checkbox */
.custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  width: 21px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Ändere die Hintergrundfarbe, wenn die Checkbox gecheckt ist */
.custom-checkbox input:checked + .checkmark {
  background-color: #2196F3;
  border: 2px solid #2196F3;
}

/* Erstelle das Häkchen */
.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Zeige das Häkchen an und lass es weiter aus der Checkbox herausragen */
.custom-checkbox input:checked + .checkmark:after {
  display: block;
  /* Passe das Häkchen an, damit es weiter raussteht */
  left: 6px; /* Verschiebe es nach links */
  top: -10px; /* Verschiebe es weiter nach oben */
  width: 7px; /* Vergrößere die Breite */
  height: 22px; /* Vergrößere die Höhe */
  border: solid dimgrey;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
  transform-origin: 50% 50%;
}

/* Add Task */
.content {
  background-color: var(--background-color-content);
  flex: 4;
  height: 100vh;
  margin-left: 232px;
  width: 100%;
}

.content h1 {
  display: flex;
  margin-bottom: 10px;
  padding: 15px;
}

.content-add-task {
  display: flex;
  flex-direction: row;
  gap: 10px 0;
}

.content-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 15px;
  row-gap: 15px;
  align-items: center;
}

.content-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 15px;
  row-gap: 15px;
  border-left: solid var(--border-left);
  align-items: center;
}

.star {
  color: var(--star-color);
  font-size: 14px;
  transform: scale(1.7);
  display: inline-block;
  padding-left: 1px;
}

.add-task-button-set {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.add-task-button-set button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--background-conten-button);
}

.content-add-task-button {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-items: left;
}

.atb-sitz {
  height: 15px;
  width: 15px;
}

.input-title, .textarea-description, .input-date, .select-category, .input-subtask, .custom-select-container {
  background: var(--background-color-login);
  border: solid 1px var(--border-inputfeld-login);
  border-radius: 10px;
  height: 48px;
  padding: 8px;
  color: var(--text-color);
  cursor: pointer;
}

.dfg {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.box-shadow {
  box-shadow: var(--box-shadow-add-task);
  -webkit-box-shadow: var(--box-shadow-add-task);
}

.filter-green {
  filter: var(--add-task-green-icon);
}

.filter-red {
  filter: var(--add-task-red-icon);
}

.filter-orange {
  filter: var(--add-task-orange-icon);
}

.filter-white {
  filter: var(--add-task-white-icon);
}

.filter-black {
  filter: var(--add-task-black-icon);
}

.filter-standard {
  filter: var(--add-task-standart-icon);
}

.filter-gray {
  filter: var(--add-task-gray-icon);
}

.filter-blue {
  filter: var(--add-task-blue);
}

.bco {
  background-color: var(--background-color-orange) !important;
  box-shadow: none;
}

.bcg {
  background-color: var(--background-color-green) !important;
  box-shadow: none;
}

.bcr {
  background-color: var(--background-color-red) !important;
  box-shadow: none;
}

.text-color-reverse {
  color: var(--text-color-reverse);
}

.font-bold {
  font-weight: bold;
}

.select-container {
  position: relative;
  display: inline-block;
  width: 93%;
}

.category-title {
  width: 92%;
  display: flex;
  flex-direction: row;
}

.custom-select-container {
  position: relative;
  width: 100%;
}

.custom-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  cursor: pointer;
}

.custom-arrow {
  transition: transform 0.3s;
}

.options-list {
  display: none; /* Dropdown standardmäßig ausgeblendet */
  position: absolute;
  top: 100%; /* Positioniert das Dropdown unter dem Auswahlfeld */
  left: 0;
  width: 100%;
  margin-top: 4px;
  background-color: var(--background-color-login);
  list-style: none;
  padding: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  height: 100%;
}

.options-list li {
  padding: 8px;
  cursor: pointer;
  background-color: var(--background-color-login);
  width: 100%;
  color: var(--text-color);
  border-radius: 10px;
  position: relative;
  top: -10px;
}

.options-list li:hover {
  background-color: var(--background-color-login);
  z-index: -1;
}

.custom-select.open .custom-arrow {
  transform: rotate(180deg); /* Dreht den Pfeil bei geöffnetem Dropdown */
}

.custom-select.open .custom-arrow {
  transform: rotate(180deg); /* Pfeil dreht sich bei offenem Dropdown */
}

.task-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 97.2%;
  margin-top: 40px;
  justify-content: right;
}

.create-task-button button {
  background-color: var(--submit-login-button);
  color: var(--submit-login-button-text);
  border-radius: 8px;
  width: 140px;
}

.focus-task-button button {
  background-color: var(--mouseover-button);
  color: var(--mouseover-button-text);
  width: 140px;
  height: 48px;
  padding: 15px 24px 15px 24px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
}

.clear-task-button button {
  width: 85px;
  border: solid 1px black;
  border-radius: 8px;
  color: var(--submit-login-guest-button-text);
}

.focus-clear button {
  width: 85px;
  border: solid 1px var(--mouseover-button);
  border-radius: 8px;
  color: var(--mouseover-button);
}

/* Subtask */
.input-Button {
  position: relative;
  top: -34px;
  left: 720px;
  cursor: pointer;
}

.input-Button-Dou {
  position: relative;
  top: -34px;
  left: 700px;
  cursor: pointer;
  width: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2px;
  height: 11px;
  line-height: 7px;
  color: gray;
  align-items: center;
}

.add-subtask-button {
  width: 15px;
  height: 15px;
}

#subtasks {
  margin-top: 10px;
}

.subtask-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: 1px solid var(--border-inputfeld-login);
  border-radius: 4px;
  margin-bottom: 5px;
}

.remove-subtask-icon {
  cursor: pointer;
  margin-right: 5px;
  color: gray;
  width: 15px;
  height: 15px;
}

.edit-subtask-icon {
  cursor: pointer;
  margin-right: 5px;
  color: gray;
  width: 15px;
  height: 15px;
}

#required-task {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: flex-start;
  margin-left: 49px;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header {
    display: flex;
    height: 50px;
    max-width: 1980px;
    min-width: 1200px;
  }
  #question img {
    width: 17px;
    height: 17px;
  }
  /* Sing Up */
  .singup-content {
    width: 100%;
    height: 100em;
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .singup {
    width: 100%;
    height: 50%;
  }
  .singup-formular {
    width: 652px;
    height: 600px;
    border-radius: 30px;
    padding: 48px 115px 48px 115px;
    gap: 32px;
  }
  /* Login */
  .login-content {
    width: 100%;
    height: 100em;
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .login {
    width: 100%;
    height: 50%;
  }
  .login-formular {
    width: 652px;
    height: 493px;
    border-radius: 30px;
    padding: 48px 115px 48px 115px;
    gap: 32px;
  }
  /* Add Task */
  .content-left input, textarea, select {
    width: 750px;
    max-width: 750px;
    min-width: 750px;
  }
  .content-add-task-button {
    width: 750px;
    max-width: 750px;
    min-width: 750px;
  }
  .content-left textarea {
    min-height: 220px;
  }
  .content-right input, textarea, select, .custom-select-container {
    width: 750px;
    max-width: 750px;
    min-width: 750px;
  }
}
/* Extra 4K devices landscape */
/* Extra 4K devices portrait  */

/*# sourceMappingURL=style.css.map */
