html, body {
  overflow: hidden;
}

.summary-header h1 {
  width: 200px;
}
.summary-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 65px 65px 50px;
  gap: 40px;
  height: 100vh;
  margin-left: 232px;
  margin-top: 45px;
  width: 100vw;
}


.summary-header {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 5%;
  width: 100%;
}

.summary-header h1 {
  font-size: 42px;
  font-weight: 700;
}

.summary-header h2 {
  font-size: 22px;
  font-weight: 400;
}

.summary-header hr {
  height: 100%;
  width: 4px;
  color: #43B5E5;
  background-color: #43B5E5;
  border-radius: 5px;
}

.summary-container {
  display: flex;
  gap: 100px;
  height: 95%;
  width: 100%;
}

.summary-container-left {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 1;
}

.summary-container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.summary-container-right h1 {
  font-size: 64px;
  color: #29ABE2;
}

.summary-container-right h2 {
  font-size: 47px;
}

.summary-task-top,
.summary-task-bottom,
.st-info {
  display: flex;
  gap: 32px;
}

.summary-task-btn {
  flex: 1;
  padding: 35px;
  background-color: var(--background-color-login);
  border: 1px solid var(--border-inputfeld-login);
  text-align: center;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 1px 0 rgba(79, 79, 79, 0.5);
  -moz-box-shadow: 0 0 1px 0 rgba(79, 79, 79, 0.5);
  box-shadow: 0 0 1px 0 rgba(79, 79, 79, 0.5);
  cursor: pointer;
}

.summary-task-btn p {
  color: var(--text-color);
}

.summary-task-btn:hover,
.summary-task-btn:hover p {
  background-color: var(--summary-task-btn-hover);
  color: var(--summary-task-btn-text-hover);
}

.st-number {
  font-size: 64px;
}

.st-deadline {
  font-size: 20px;
  font-weight: 700;
}

.st-info-left,
.st-info-right {
  display: table;
  flex: 1;
}

.st-info-right-inner-content {
  display: table-cell;
  vertical-align: middle;
}

.st-todo,
.st-done,
.st-info-left {
  display: flex;
  align-items: center;
}

.st-todo::before,
.st-done::before,
.st-info-left::before {
  content: "";
  background-size: 64px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-left: 8px;
  margin-right: 8px;
}

.st-todo::before {
  background-image: var(--summary-backlog);
}

.st-todo:hover::before {
  background-image: var(--summary-backlog-hover);
}

.st-done::before {
  background-image: var(--summary-done);
}

.st-done:hover::before {
  background-image: var(--summary-done-hover);
}

.st-info-left::before {
  background-image: url('../public/icons/round-prio-high.png');
}

.summary-task-bottom {
  margin-bottom: 90px;
}

.welcm-Section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1200px) {
  .summary-section {
    left: auto;

  }
}

@media (max-width: 870px) {


  .summary-header hr {
    height: 4px;
    width: 100px;
    color: #43B5E5;
    background-color: #43B5E5;
    border-radius: 8px;
  }

  .summary-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: auto;
    width: 100%;
    margin: 8px;
  }

  .summary-header h2 {
    font-size: 18px;
    font-weight: 400;
  }

  .summary-header h1 {
    font-size: 24px;
    font-weight: 700;
  }
}

@media (max-width: 870px) {

  .summary-section {
    width: auto;
    padding: initial;
  }

  .summary-task-btn {
    padding: unset;
  }


  .summary-container {
    display: initial;
  }

  .summary-section {
    display: flex;
    height: auto;
  }

  .summary-task-btn {
    padding: 8px;
  }

  .welcm-Section {
    display: none;
  }

}